<!doctype html>
<html>

<head>
    <title>Admin Panel</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/admin.css">
</head>

<body>
    <div class="centered-form">
        <div class="centered-form__box">
            <h1>App Settings</h1>
            <div class="row">
                <div class="col-6 col-md-6">
                    <div class="row">
                        <form id="search" action="" style="width: 100%;">
                            <input id="search-input" type="text" style="width: 70%; height: 35px; padding-left: 5px;"
                                placeholder="Search tweets..." name="search">
                            <button style="height: 40px; " type="submit">Search tweets</button>
                            <p class="form-text text-muted" style="color: white!important;">
                                --- Try searching somthing like --> <i>"10 tweets from user <b>Puneet</b>" </i> 
                                <br>
                                --- To search a hashtag simply type --> <i>"#awesomeHashtag"</i>
                                <br>
                                --- To get all tweets from a specific user --> <i>"@puneet"</i>
                                <br>
                                --- To get all tweets with specific text --> <i>"my awesome text"</i>
                            </p>
                        </form>
                    </div>
                </div>
                <div class="col-6 col-md-6 result-box">
                    <label style="color: #726969; font-size: smaller; font-style: italic;"> ---- search results will
                        appear here ---- </label>
                    <pre id="search-results"></pre>
                </div>
            </div>
            <p></p>
            <hr>
            <form id="app-config" action="#" style="border: solid 1px black; padding: 20px;">
                <p>
                    <label for="username">Tweet Limit</label>
                    <input type="number" id="tweets_limit" name="tweets-limit" placeholder="Max Tweet limit" required>
                <details>Set this limit to trigger an action whenver a user has tweeted these many number of tweets
                </details>
                </p>
                <p></p><br>
                <p>
                    <label for="room">Location Alert</label>
                    <input type="text" id="loc_alert" name="location" placeholder="location to watch" required>
                <details>Set this alert for location. An event will be triggered whenever a tweet will be made from this
                    set location. </details>
                </p>
                <p></p>
                <button>Save</button>
                <p></p>
            </form>
        </div>
    </div>
    <script src="javascripts/admin.js"></script>
</body>

</html>