<!doctype html>
<html>
    <head>
        <title>Wellcome to Swym</title>
        <link rel="stylesheet" href="stylesheets/style.css">
    </head>
    <body>
        <div class="centered-form">
            <div class="centered-form__box">
                <h1>Join Swym Tweets</h1>
                <form action="/home" method="get">
                    <label for="username">Display name</label>
                    <input type="text" name="username" placeholder="Display name" required>
                    <label for="room">location</label>
                    <input type="text" name="location" placeholder="location" required>
                    <button>Join</button>
                </form>
            </div>
        </div>
    </body>
</html>